html, body {
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: #ED638E;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 72px);
  grid-template-rows: repeat(5, 72px);
  gap: 30px;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.grid-item img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 4px;
  z-index: 2;
}

.grid-item a {
  display: block;
}

.grid-item img {
  display: block;
}
